@font-face {
  font-family: "Avenir Next";
  src: url("../fonts/AvenirNextRegular.ttf"); }

@font-face {
  font-family: "Avenir Next Bold";
  src: url("../fonts/AvenirNextBold.ttf"); }

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #F2F2F2;
  font-family: Arial; }

b {
  font-family: Avenir Next Bold;
  font-weight: 700; }

.shown {
  display: block !important; }

#lightContainer {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden; }
  #lightContainer #light {
    position: absolute;
    width: 18rem;
    height: 18rem;
    z-index: 4;
    border-radius: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: radial-gradient(ellipse at center, rgba(112, 112, 112, 0.5) 0%, rgba(112, 112, 112, 0) 50%); }

#openSettings {
  position: fixed;
  right: 1.4em;
  bottom: 1em;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
  color: #707070;
  width: 2em;
  height: 2em;
  font-size: 1.75em;
  transition: color .2s;
  z-index: 91; }
  #openSettings:hover {
    color: black; }

#settingsPannel {
  position: fixed;
  box-sizing: border-box;
  right: -320px;
  width: 320px;
  height: 100vh;
  padding: 0 1.5em;
  background-color: white;
  z-index: 90;
  color: #707070;
  box-shadow: 0px 1px 40px 1.5px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  transition: right .2s;
  /* label */
  /* case */
  /* coche */
  /* The container must be positioned relative: */
  /* Style the arrow inside the select element: */
  /* Point the arrow upwards when the select box is open (active): */
  /* style the items (options), including the selected item: */
  /* Style items (options): */
  /* Hide the items when the select box is closed: */ }
  #settingsPannel h3 {
    margin-top: 2em;
    text-align: center; }
  #settingsPannel .label {
    display: block;
    margin-bottom: .3em; }
  #settingsPannel #shareBox, #settingsPannel .writingMode, #settingsPannel .appearance, #settingsPannel .customFont, #settingsPannel .toolPos {
    margin-bottom: 2em; }
  #settingsPannel #showWords, #settingsPannel #showTools, #settingsPannel #showCharacters {
    margin-bottom: 1.5em; }
  #settingsPannel #shareBox {
    display: inline-block;
    position: relative;
    width: 100%; }
    #settingsPannel #shareBox #share {
      resize: none;
      position: relative;
      border: 0px;
      display: block;
      box-sizing: border-box;
      background-color: #F2F2F2;
      color: #707070;
      height: 48px;
      width: 100%;
      line-height: 48px;
      padding: 0 1em;
      font-family: Avenir Next; }
    #settingsPannel #shareBox span {
      position: absolute;
      top: .7em;
      right: .8em;
      cursor: pointer; }
      #settingsPannel #shareBox span svg {
        width: 15px; }
  #settingsPannel .toggleContainer {
    z-index: 13;
    width: 100%;
    height: 48px;
    line-height: 48px;
    display: flex;
    position: relative;
    text-align: center;
    border: 1px solid #707070;
    cursor: pointer;
    color: #707070; }
    #settingsPannel .toggleContainer .pos {
      width: 100%;
      z-index: 14;
      transition: .25s color ease; }
    #settingsPannel .toggleContainer .center {
      border-left: 1px solid #707070;
      border-right: 1px solid #707070; }
    #settingsPannel .toggleContainer .choice {
      position: absolute;
      background-color: #707070;
      height: 48px;
      z-index: 12;
      transition: .25s left ease; }
    #settingsPannel .toggleContainer.tgLeft .left {
      color: #F2F2F2; }
    #settingsPannel .toggleContainer.tgLeft .right, #settingsPannel .toggleContainer.tgLeft .center {
      color: #707070; }
    #settingsPannel .toggleContainer.tgCenter .center {
      color: #F2F2F2; }
    #settingsPannel .toggleContainer.tgCenter .right, #settingsPannel .toggleContainer.tgCenter .left {
      color: #707070; }
    #settingsPannel .toggleContainer.tgRight .right {
      color: #F2F2F2; }
    #settingsPannel .toggleContainer.tgRight .left, #settingsPannel .toggleContainer.tgRight .center {
      color: #707070; }
  #settingsPannel .writingMode .choice, #settingsPannel .toolPos .choice {
    width: 50%; }
  #settingsPannel .writingMode.tgLeft .choice, #settingsPannel .toolPos.tgLeft .choice {
    left: 0; }
  #settingsPannel .writingMode.tgRight .choice, #settingsPannel .toolPos.tgRight .choice {
    left: 50%; }
  #settingsPannel .appearance .choice {
    width: 33.33%; }
  #settingsPannel .appearance.tgLeft .choice {
    left: 0; }
  #settingsPannel .appearance.tgCenter .choice {
    left: 33.33%; }
  #settingsPannel .appearance.tgRight .choice {
    left: 66.66%; }
  #settingsPannel .checkContainer {
    position: relative; }
  #settingsPannel [type="checkbox"]:not(:checked), #settingsPannel [type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01; }
  #settingsPannel [type="checkbox"]:not(:checked) + label, #settingsPannel [type="checkbox"]:checked + label {
    display: block;
    position: relative;
    line-height: 1.7; }
  #settingsPannel [type="checkbox"]:not(:checked) + label:before, #settingsPannel [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #707070;
    border-radius: 50px;
    cursor: pointer; }
  #settingsPannel [type="checkbox"]:not(:checked) + label:before {
    color: white; }
  #settingsPannel [type="checkbox"]:checked + label:before {
    background: #707070; }
  #settingsPannel [type="checkbox"]:not(:checked) + label:after, #settingsPannel [type="checkbox"]:checked + label:after {
    position: absolute;
    content: url(../images/check.svg);
    line-height: 0;
    width: 1em;
    top: .4em;
    right: .24em;
    cursor: pointer; }
  #settingsPannel .custom-select {
    position: relative; }
  #settingsPannel .custom-select select {
    display: none;
    /*hide original SELECT element: */ }
  #settingsPannel .select-selected {
    background-color: #F2F2F2; }
  #settingsPannel .select-selected:after {
    position: absolute;
    content: url(../images/arrowdown.svg);
    width: 1.2em;
    top: .7em;
    right: .8em; }
  #settingsPannel .select-selected.select-arrow-active:after {
    transform: rotate(-180deg);
    bottom: .7em; }
  #settingsPannel .select-items div, #settingsPannel .select-selected {
    color: #707070;
    padding: .5em 1em;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer; }
  #settingsPannel .selectInside {
    border: 1px solid #707070; }
  #settingsPannel .select-items {
    position: absolute;
    background-color: #F2F2F2;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99; }
  #settingsPannel .select-items > div:nth-child(1), #settingsPannel .select-items > div:nth-child(2), #settingsPannel .select-items > div:nth-child(3), #settingsPannel .select-items > div:nth-child(4), #settingsPannel .select-items > div:nth-child(5) {
    border-top: 1px solid #707070; }
  #settingsPannel .select-hide {
    display: none; }
  #settingsPannel .select-items div:hover, #settingsPannel .same-as-selected {
    background-color: white; }
  #settingsPannel .customFont {
    display: flex;
    justify-content: space-between; }
    #settingsPannel .customFont #fontLabel {
      line-height: 2.5em; }
  #settingsPannel.revealed {
    right: 0px; }

.toolboxContainer {
  z-index: 5;
  display: grid;
  position: fixed;
  height: 100vh;
  width: 100%;
  grid-template-columns: 10px 53px 1fr;
  grid-template-rows: 1fr 689px 1fr;
  grid-gap: 0px 0px;
  grid-template-areas: "top top top" "left toolbox right" "bottom bottom bottom"; }
  .toolboxContainer .toolbox {
    width: 100%;
    display: none; }
    .toolboxContainer .toolbox .tool {
      cursor: pointer;
      border: 4px solid #F2F2F2;
      width: 45px;
      height: 45px;
      z-index: 9;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color .2s;
      color: #707070;
      font-size: 1.75em; }
      .toolboxContainer .toolbox .tool:after {
        content: '';
        position: absolute;
        z-index: -1;
        background-color: #F2F2F2;
        top: 2px;
        bottom: 2px;
        right: 2px;
        left: 2px; }
      .toolboxContainer .toolbox .tool:hover {
        background-color: #707070;
        color: black; }
      .toolboxContainer .toolbox .tool:active {
        filter: brightness(1.1); }
  .toolboxContainer .mask {
    z-index: 10;
    background: #F2F2F2; }
  .toolboxContainer .top {
    grid-area: top;
    display: flex;
    justify-content: flex-end; }
    .toolboxContainer .top #fullscreenButton {
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
      color: #707070;
      width: 2em;
      height: 2em;
      font-size: 1.75em;
      transition: color .2s;
      margin-right: 1.4em;
      margin-top: 1em; }
      .toolboxContainer .top #fullscreenButton:hover {
        color: black; }
  .toolboxContainer .left {
    grid-area: left; }
  .toolboxContainer .right {
    grid-area: right; }
  .toolboxContainer .bottom {
    grid-area: bottom;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-flow: column; }
    .toolboxContainer .bottom #wordCounter {
      display: none;
      color: #707070;
      margin-left: 1.4em;
      margin-bottom: 1em; }
    .toolboxContainer .bottom #characterCounter {
      display: none;
      color: #707070;
      margin-left: 1.4em;
      margin-bottom: 1em; }

.editorContainer {
  top: 5em;
  position: absolute;
  font-size: 20px;
  z-index: 11;
  width: 100%;
  pointer-events: none; }
  .editorContainer #editor {
    position: relative;
    min-height: 80vh;
    width: 75%;
    margin: auto;
    outline: 0;
    pointer-events: auto;
    color: black; }

body.dark {
  background-color: #0D0D0D; }
  body.dark #lightContainer #light {
    background: radial-gradient(ellipse at center, rgba(194, 194, 194, 0.5) 0%, rgba(194, 194, 194, 0) 50%); }
  body.dark #openSettings {
    color: #C2C2C2;
    transition: color .2s; }
    body.dark #openSettings:hover {
      color: white; }
  body.dark #settingsPannel {
    background-color: black;
    color: #C2C2C2;
    /* case */
    /* coche */
    /* Style the arrow inside the select element: */
    /* style the items (options), including the selected item: */
    /* Style items (options): */ }
    body.dark #settingsPannel #shareBox #share {
      background-color: #0D0D0D;
      color: #C2C2C2; }
    body.dark #settingsPannel .toggleContainer {
      border: 1px solid #C2C2C2;
      color: #C2C2C2; }
      body.dark #settingsPannel .toggleContainer .center {
        border-left: 1px solid #C2C2C2;
        border-right: 1px solid #C2C2C2; }
      body.dark #settingsPannel .toggleContainer .choice {
        background-color: #C2C2C2; }
      body.dark #settingsPannel .toggleContainer.tgLeft .left {
        color: #0D0D0D; }
      body.dark #settingsPannel .toggleContainer.tgLeft .right, body.dark #settingsPannel .toggleContainer.tgLeft .center {
        color: #C2C2C2; }
      body.dark #settingsPannel .toggleContainer.tgCenter .center {
        color: #0D0D0D; }
      body.dark #settingsPannel .toggleContainer.tgCenter .right, body.dark #settingsPannel .toggleContainer.tgCenter .left {
        color: #C2C2C2; }
      body.dark #settingsPannel .toggleContainer.tgRight .right {
        color: #0D0D0D; }
      body.dark #settingsPannel .toggleContainer.tgRight .left, body.dark #settingsPannel .toggleContainer.tgRight .center {
        color: #C2C2C2; }
    body.dark #settingsPannel [type="checkbox"]:not(:checked) + label:before, body.dark #settingsPannel [type="checkbox"]:checked + label:before {
      border: 1px solid #C2C2C2; }
    body.dark #settingsPannel [type="checkbox"]:not(:checked) + label:before {
      color: black; }
    body.dark #settingsPannel [type="checkbox"]:checked + label:before {
      background: #C2C2C2; }
    body.dark #settingsPannel [type="checkbox"]:not(:checked) + label:after, body.dark #settingsPannel [type="checkbox"]:checked + label:after {
      content: url(../images/d_check.svg); }
    body.dark #settingsPannel .select-selected {
      background-color: #0D0D0D; }
    body.dark #settingsPannel .select-selected:after {
      content: url(../images/arrowdown.svg); }
    body.dark #settingsPannel .select-items div, body.dark #settingsPannel .select-selected {
      color: #C2C2C2;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; }
    body.dark #settingsPannel .selectInside {
      border: 1px solid #C2C2C2; }
    body.dark #settingsPannel .select-items {
      background-color: #0D0D0D; }
    body.dark #settingsPannel .select-items > div:nth-child(1), body.dark #settingsPannel .select-items > div:nth-child(2), body.dark #settingsPannel .select-items > div:nth-child(3), body.dark #settingsPannel .select-items > div:nth-child(4), body.dark #settingsPannel .select-items > div:nth-child(5) {
      border-top: 1px solid #C2C2C2; }
    body.dark #settingsPannel .select-items div:hover, body.dark #settingsPannel .same-as-selected {
      background-color: black; }
  body.dark .toolboxContainer .toolbox .tool {
    border: 4px solid #0D0D0D;
    transition: background-color .2s;
    color: #C2C2C2; }
    body.dark .toolboxContainer .toolbox .tool:after {
      background-color: #0D0D0D; }
    body.dark .toolboxContainer .toolbox .tool:hover {
      background-color: #C2C2C2;
      color: white; }
  body.dark .toolboxContainer .mask {
    background: #0D0D0D; }
  body.dark .toolboxContainer .top #fullscreenButton {
    color: #C2C2C2; }
    body.dark .toolboxContainer .top #fullscreenButton:hover {
      color: white; }
  body.dark .toolboxContainer .bottom #wordCounter {
    color: #C2C2C2; }
  body.dark .toolboxContainer .bottom #characterCounter {
    color: #C2C2C2; }
  body.dark .editorContainer #editor {
    color: white; }
